// colors
$-c-white: #ffffff;
$-c-black: #000000;
$-c-light-green: #13E28D;
$-c-yellow: #FFDD3F;
$-c-gray: #B7BACD;
$-c-dark-gray: #8D91A3;
$-c-dark-blue: #2B3040;
$-c-deep-blue: #212534;


// fonts
$-f-lato: 'Lato';